span{
  font-family: Arial, Helvetica, sans-serif;
}


mat-toolbar{
  position: -webkit-fixed;
  position: fixed !important;
  background-color: rgb(255, 255, 255);;
  /* background-color: rgb(21, 38, 75); */


  width: 100%;
  z-index: 101;

}

.icon1{
  font-size: 28px;
  color: rgb(39, 39, 39)!important;
}


.icon2{
  font-size: 28px;
  color: rgb(146, 52, 52)!important;
}



button:hover{
  color: rgb(255, 255, 255);
/* background-color: rgb(255, 255, 255); */
/* color: rgb(67, 211, 255);; */
    background-color: transparent ;
}

.toolbar-button:hover{
  color: rgb(245, 59, 59);
  /* background-color: rgb(255, 255, 255); */
  /* color: rgb(67, 211, 255);; */
      background-color: transparent ;
}


 .spacer {
  flex: 1 1 auto;
}

.item{
  /* color:rgb(88, 88, 88); */
  color:rgb(194, 194, 194);
  text-align: left;
  font-size:12px;
  font-weight: 500;
  font-family: "Verdana";
}

.icon{
  font-size: 32px;
}


 mat-sidenav {

    width: 250px;
    /* background-color: rgb(255, 255, 255) ; */
    background-color: rgb(21, 38, 75) ;
}

.main-content {
    padding:20px;
}
