
  <mat-sidenav-container fullscreen >

    <mat-sidenav mode="side" #sidenav position="start" >
      <!-- <div style="background-color: rgb(255, 255, 255); height:65px;"> -->
        <h1 class="text-start pt-4 ps-2" style="font-size:26px ;color:rgb(255, 255, 255)">Better Day</h1>
      <!-- </div> -->

<hr style="width:100%">

<label class="text-start mb-3 ps-3" style="width: 100%; font-weight: 500; color: rgb(238, 238, 238);  font-size: 14px;">Admin</label>
      <button  (click)="sidenav.toggle()"style="width: 100%;" mat-button class="item"routerLink="/create-new-user" ><mat-icon  mat-list-icon style="margin-right: 10%;">person_add</mat-icon>Create New User</button>


<hr>
      <button  (click)="sidenav.toggle()" style="width: 100%;" mat-button class="item" routerLink="dashboard"><mat-icon  class="ml-4 " mat-list-icon style="margin-right: 10%;" >dashboard</mat-icon>Dashboard</button><br>

      <hr>

<!-- <label class="text-start mb-3 ps-3" style="width: 100%; font-weight: 500; color: rgb(238, 238, 238); font-size: 14px;">Job Card</label> -->
<button (click)="sidenav.toggle()" style="width: 100%;"class="text-start" mat-button class="item"routerLink="/jobcard"  ><i class="bi bi-card-text" style="margin-right: 11%; font-size: 24px;"></i>Job Cards</button>
      <!-- <button  style="width: 100%;"class="text-start" mat-button class="item"routerLink="jobcard/create-jobcard"  ><mat-icon  mat-list-icon style="margin-right: 10%;">pageview</mat-icon>View Job Card</button>
      <button  style="width: 100%;" mat-button class="item"routerLink="jobcard/create-jobcard"  ><mat-icon  mat-list-icon style="margin-right: 10%;">note_add</mat-icon>Create Job Card</button> -->
      <hr>
      <button (click)="sidenav.toggle()" style="width: 100%;"class="text-start" mat-button class="item"routerLink="/tasks/your-tasks"  ><mat-icon  mat-list-icon style="margin-right: 10%;">list</mat-icon>Tasks</button>
    </mat-sidenav>




         <mat-sidenav-content>
          <mat-toolbar class="shadow-sm"  *ngIf="userIsAuthenticated==true" >
            <button  style="text-align:center !important" class="toolbar-button" mat-icon-button  (click)="sidenav.toggle()">
              <mat-icon >menu</mat-icon>
            </button>

            <span class="spacer"></span>

            <button  style="text-align:center !important"  mat-icon-button xPosition="after"   [matMenuTriggerFor]="account">
              <mat-icon style=" margin-right: 10%; margin-bottom: 4%;"  class="icon toolbar-button">account_circle</mat-icon>
            </button>
            <mat-menu   #account="matMenu" >
              <!-- <h3 style="text-align: center;"></h3>
              <hr style="margin-top: -8px;"> -->
                    <button        style=" color: var(--res-level-text-color)!important;" mat-menu-item class="item" (click)="onLogout()">       <mat-icon style=" color: var(--res-level-text-color)!important;">logout</mat-icon > Logout </button>
                  </mat-menu>

        </mat-toolbar>
        <div class="" style="background-color: rgb(245, 248, 250);  height: 100%;">

        <router-outlet></router-outlet>
      </div>


        </mat-sidenav-content>

        </mat-sidenav-container>
