


<div class="d-flex justify-content-center y-axis text-center" >

<form class="pt-3 shadow-lg p-3 mb-5 bg-body rounded "  style="width: 480px;  "  #f="ngForm" (ngSubmit)="onLogin(f)" >

<h1>BetterDay</h1>
<hr>
<mat-icon style="font-size:60px; padding-right: 55px;"  class="pr-4">account_circle</mat-icon>
<h1>Login</h1>
<input type="email" id=emailAddress class="form-control mb-3" placeholder="Email"  ngModel name="email"  required >
<input type="password" id=password class="form-control" placeholder="Password" ngModel name="password"  required >
<div class="mt-4">
  <button class="btn btn-primary btn-md btn-block "  type="submit" style="width:250px">Login</button>

</div>

<!-- <div class="spinner-grow" role="status">
  <span class="visually-hidden">Loading...</span>
</div> -->
</form>

</div>








