/* *{background-color: white;} */



/* ::ng-deep.mat-form-field-label {
  color: rgb(255, 0, 0) !important;

 }

 ::ng-deep.mat-form-field-underline {
  background-color: rgb(255, 0, 0) !important;

}
.staticColorLabel{
  color: rgb(255, 0, 0) !important;
} */
/* .staticColorUnderline
{
  background-color: grey !important;
} */

/* mat-form-field{
  width: 300px;

}

.login-form {
  height: 100%
}

mat-card{
  width: 400px;

}

button
{
  margin-top: 1rem;
}

.btn1{

   text-align: center;
   border-radius: 5px;
   width: 200px;
background-color: rgb(89, 105, 128);
   margin: auto


}

a{
  margin-top: 0.5rem;
  text-align: center;
  font-size: 11px;
}

h2{

  margin:0;
  padding:0;
}

h4{
  font-family: Arial, Helvetica, sans-serif;
  color: #3f3f3ff3;
}


.img1{
  width: 200px;
  border-radius: 20px;
  margin: auto

}

.img2{
  width: 150px;
  height: 150px;
  margin: auto

}

.snackbar{

  background-color: rgb(253, 239, 239);
} */


