
mat-toolbar{
  position: -webkit-fixed;
  position: fixed !important;
  background-color: rgb(255, 255, 255);;
  width: 100%;
  z-index: 101;
}
.toolbar-button:hover{
    color: rgb(245, 59, 59);
   background-color: transparent ;
  }




hr
{
color:rgb(0, 110, 255);
    height: 2px;
}

.modal-button{
 margin:auto ;
text-align: center;
}




.mat-row:hover .mat-cell {
 background-color: rgb(241, 241, 241);
 /* background-color: rgb(0, 145, 255); */
}



.mat-column-select {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}


.mat-column-name {
  padding-left: 16px;
}

.big-checkbox {width: 18px; height: 18px;}


::ng-deep .mat-select-placeholder {
  color: orange !important;
}

::ng-deep mat-select span.mat-form-field-label-wrapper label {
  color:orange !important;
}

::ng-deep mat-select.mat-focused span.mat-form-field-label-wrapper label {
  color:green !important;
}
span { display: flex; 
  justify-content: center }
