<p>edit-job-card works!</p>
<br>
<br><br>
<br>
<div class="d-flex justify-content-center  text-center " >

  <div class="pt-3 shadow-sm p-3 mb-5 bg-body rounded "  style="width: 1000px;  " >

  <h1>Job Card</h1>
  <hr >

<!-- ///////////////////////////////////////User////////////////////////////////////////// -->
<form  #f="ngForm"  (ngSubmit)="SaveJobCard(f)" >
  <div class="row ">
<div class="col "  >
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Owner:</span>
      <select class="form-select" id="exampleSelect" [(ngModel)]="owner" ngModel name="owner">
        <option value="Owner" selected  hidden>Owner</option>
        <option class="form-control" >Warwick </option>
        <option class="form-control">Daniel</option>
      </select>
    </div>

</div>

</div>


    <div class="col ">
  <div class="mb-5 rounded flex-wrap"  >
    <div class="row">
      <div class="input-group">
        <span class="input-group-text " style="font-weight: 400; background-color:white ;color:red" >Job Number:</span>
        <input  type="text" aria-label="First name" class="form-control"  [(ngModel)]="job_Number" ngModel name="job_number">
      </div>
    </div>



  </div>
    </div>
  </div>

  <div class="row">
    <div class="col">

        <div class="input-group ">
          <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Start Date:</span>
          <input class="form-control" placeholder="Select Start Date" [(ngModel)]="model"
                 name="dp"  ngbDatepicker #d="ngbDatepicker" ngModel name="start_Date">
          <div class="input-group-append">
            <button class="btn btn-outline-primary bi bi-calendar-event" (click)="d.toggle()" type="button"> </button>
          </div>
      </div>
    </div>

    <div class="col">
      <div class="input-group">
      <span class="input-group-text " style="font-weight: 400; background-color:white " >Client:</span>
      <input  id=client class="form-control " placeholder="Client" [(ngModel)]="client" ngModel name="client"   >
    </div>
   </div>

  </div>
<div class="row mt-3">

  <div class="col">
    <div class="input-group ">
    <span class="input-group-text " style="font-weight: 400; background-color:white " >Order Number:</span>
    <input  id=order-no class="form-control " placeholder="ORDER No" [(ngModel)]="order_Number"  ngModel name="order_no"   >
  </div>
 </div>
  <div class="col">
    <div class="form-group">
      <div class="input-group ">
        <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Company:</span>
        <select class="form-select" id="exampleSelect" [(ngModel)]="company" ngModel name="company">
          <option class="form-control" >Mac-Automation </option>
          <option class="form-control" >All-Electrical </option>
          <option class="form-control">STS</option>
        </select>
      </div>
</div>
</div>
</div>

<div class="form-group  mt-3 mb-4">
<div class="input-group ">
<span class="input-group-text " style="font-weight: 400; background-color:white ;" >Description:</span>
<textarea id=description class="form-control " placeholder="Description" [(ngModel)]="description" ngModel name="description"  rows="1"></textarea>
</div>
</div>
<!-- ///////////////////////////////////////Owner////////////////////////////////////////// -->

<div class="row mt-3">
  <div class="col">
    <div class="input-group  ">
    <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Panel Number:</span>
      <input  id=panel-no class="form-control " placeholder="Panel Number" [(ngModel)]="panel_Number" ngModel name="panel_Number"   ></div>
  </div>

  <div class="col">
    <div class="input-group  mt-1">
      <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Drawings By:</span>
      <select class="form-select" id="exampleSelect" [(ngModel)]="drawings_By" ngModel name="drawings_By">
        <option class="form-control" >LT</option>
      </select>
    </div>
</div>
</div>

<div class="row mt-3">
  <div class="col">
    <div class="input-group">
      <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Panel-Builder/s</span>
      <select class="form-select" id="exampleSelect" [(ngModel)]="panel_Builders" ngModel name="panel_Builders">
        <option class="form-control" ></option>
      </select>
    </div>
</div>
  <div class="col">
    <div class="input-group">
      <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Programmed By:</span>
      <select class="form-select" id="exampleSelect"  [(ngModel)]="programmed_By" ngModel name="programmed_By">
        <option class="form-control" >Daniel</option>
        <option class="form-control" >Gerard</option>
      </select>
    </div>
</div>
</div>


<div class="row mt-3 " >
  <div class="col">
    <div class="input-group">
      <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Tested By:</span>
      <select class="form-select" id="exampleSelect" [(ngModel)]="tested_By" ngModel name="tested_By">
        <option class="form-control" >Daniel</option>
        <option class="form-control" >Gerard</option>
      </select>
    </div>
</div>
  <div class="col"></div>
</div>
<!-- <button class="btn btn-primary mt-4 " style="width:200px">Create Job Card</button> -->
<div class="mt-4">
  <button class="btn btn-primary btn-md btn-block "  type="submit" style="width:250px">Save</button>
</div>
<hr>
</form>
<!-- ///////////////////////////////////////Purchase Order////////////////////////////////////////// -->
<h2>Purchase Orders</h2>
<button class="btn btn-lg btn-outline-success" (click)="open(purchaseOrder)">Add Purchase Order</button>
<ng-template #purchaseOrder let-modal>

  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Puchase Order</h2>
    <button  mat-icon-button   style="background-color:rgb(255, 255, 255)"(click)="modal.dismiss()" >
      <mat-icon style="color:rgb(0, 0, 0)">close</mat-icon>
    </button>
  </div>
  <form  #f="ngForm" (ngSubmit)="onAddPurchaseOrder(f)">
  <div class="modal-body">

      <div class="form-group">
        <input  id=supplier class="form-control  mt-1" placeholder="Supplier"  ngModel name="supplier">
        <input  id=mat-order-no class="form-control  mt-3 mb-3" placeholder="Order Number"  ngModel name="mat_order_no">
        <button  class="modal-button btn btn-success" type="submit">Add</button>
        </div>
<br>
<br>
  </div>
</form>

</ng-template>
<table class="table table-striped mt-4">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Supplier</th>
    <th scope="col">Order Number</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let purchase_order of PURCHASE_ORDERS; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ purchase_order.supplier }}</td>
    <td>{{ purchase_order.order_Number }}</td>
  </tr>
  </tbody>
</table>
<hr>






<h2>Materials From Storage</h2>
<button class="btn btn-lg btn-outline-success" (click)="openXl(content)">Add Material From Store</button>
<table class="table table-striped mt-4">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Part</th>
    <th scope="col">Quantity</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let storage of storages; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ storage.name }}</td>
    <td>{{ storage.qty }}</td>
  </tr>
  </tbody>
</table>

<ng-template #content let-modal>

  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Materials From Store</h2>
    <button  mat-icon-button style="background-color:rgb(255, 255, 255)"(click)="modal.dismiss()" >
      <mat-icon style="color:rgb(0, 0, 0)">close</mat-icon>
    </button>
  </div>
  <mat-tab-group>

    <!-- <mat-tab label="Add Parts">
      <form  #f="ngForm" (ngSubmit)="onAdd(f)">
        <div class="modal-body">

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let storageItem" (click)="$event.stopPropagation()">
              <input class="form-check-input big-checkbox" type="checkbox" value="" id="flexCheckDefault"
              (change)="onRowToggled(storageItem)"
              [checked]="selection.isSelected(storageItem)">
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let storageItem">{{storageItem.name}}</td>
            </ng-container>

            <ng-container matColumnDef="part_number">
              <th mat-header-cell *matHeaderCellDef>Part Number</th>
              <td mat-cell *matCellDef="let storageItem">{{storageItem.part_number}}</td>
            </ng-container>

            <ng-container matColumnDef="qty">
              <th mat-header-cell *matHeaderCellDef>Qty</th>
              <td mat-cell *matCellDef="let storageItem">{{storageItem.qty}}</td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let storageItem">{{storageItem.description}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns;"
            ></tr>



          </table>
<h2 class="mt-4">Materials</h2>
          <ul>
            <div *ngFor="let partArr of partsArr">
              <div class="row " style="width:300px">
                <div class="col">
                  <p style="float: left; margin-top:15px" class="mt-2.5"> {{partArr}}</p>
                </div>
                <div class="col">     <div style="padding-left: 35px;  float:left; text-align:center; " >
                  <input type="number"style="float: right; width: 85px; margin-right:auto ; margin-left:auto" min="1" id=qty class="form-control  mt-1"  placeholder="qty"  ngModel name="{{[partArr]}}">
                </div></div>
              </div>
            </div>
<div >
</div>
          </ul>
      <br>
      <br>
        </div>

        <div style="text-align: center;">
          <button class="btn btn-primary mb-4" style="width:125px" type="submit">Add</button>
        </div>
      </form>
    </mat-tab> -->

    <mat-tab label="Manually Add Part">
      <form  #f="ngForm" (ngSubmit)="onAddManualPart(f)">
        <div class="modal-body">
            <div class="form-group">
              <input  id=manual_part_name_add class="form-control  mt-1" placeholder="Part Name"  ngModel name="manual_part_name_add">
              <input  id=manual_part_num_add class="form-control  mt-3 mb-3" placeholder="Part Number"  ngModel name="manual_part_num_add">
              <input type="number" min="1" id=qty class="form-control  mt-1"  placeholder="Qty"  ngModel name="manual_part_qty_add">
              <input  id=manual_part_descr_add class="form-control  mt-3 mb-3" placeholder="Description"  ngModel name="manual_part_descr_add">
              <button  class="modal-button btn btn-success" type="submit">Manual Add</button>
              </div>
      <br>
      <br>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</ng-template>
<hr>







<h2>Invoices</h2>
<button class="btn btn-lg btn-outline-success" (click)="open(content)">Add Invoice</button>
<ng-template #content let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Puchase Order</h2>
    <button  mat-icon-button style="background-color:rgb(255, 255, 255)"(click)="modal.dismiss()" >
      <mat-icon style="color:rgb(0, 0, 0)">close</mat-icon>
    </button>
  </div>
  <form  #f="ngForm" (ngSubmit)="onAddPurchaseOrder(f)">
  <div class="modal-body">

      <div class="form-group">
        <input  id=supplier class="form-control  mt-1" placeholder="Supplier"  ngModel name="supplier">
        <input  id=mat-order-no class="form-control  mt-3 mb-3" placeholder="Order Number"  ngModel name="mat_order_no">
        <button  class="modal-button btn btn-success" type="submit">Add</button>
        </div>
<br>
<br>
  </div>

</form>
</ng-template>
<hr>

























</div>

  </div>


