<p></p>
<br>
<br>


<mat-toolbar class="shadow-sm secondbar" style=" position: relative; border-top: 1px solid rgb(221, 229, 235); height: 2rem;">
  <button onclick="history.back()" class="toolbar-button" mat-icon-button>
    <mat-icon >keyboard_backspace</mat-icon>
  </button>
  <span class="spacer"></span>
</mat-toolbar>
<br>
<br>
<br>
<div class="d-flex justify-content-center  text-center " >

  <div class="pt-3 shadow-sm p-3 mb-5 bg-body rounded "  style="width: 1050px;  " >

  <h1>Job Card</h1>
  <hr class="shadow-lg">

<!-- ///////////////////////////////////////User////////////////////////////////////////// -->
<form  #f="ngForm"  (ngSubmit)="SaveJobCard(f)" >
  <div class="row ">
    <div class="col-sm-6">
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Owner:</span>
      <select  [disabled]="disabled||ownerDisabled" class="form-select" id="exampleSelect" [(ngModel)]="owner" ngModel name="owner">
        <option value="Owner" selected  hidden>Owner</option>
        <option class="form-control" >Warwick </option>
        <option class="form-control">Daniel</option>
      </select>
    </div>

</div>

</div>
<br>
<br>

<div class="col-sm-6">
  <div class="mb-5 rounded flex-wrap"  >
    <div class="row">
      <div class="input-group">
        <span class="input-group-text " style="font-weight: 400; background-color:white ;color:red" >Job Number:</span>
        <input  [disabled]="true" type="text" aria-label="First name" class="form-control"  [(ngModel)]="job_Number" ngModel name="job_number">
      </div>
    </div>



  </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">

        <div class="input-group ">
          <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Start Date:</span>
          <input  [disabled]="true" class="form-control" placeholder="Select Start Date" [(ngModel)]="JC_StartDate"
                 name="dp"  ngbDatepicker #d="ngbDatepicker" ngModel name="start_Date">
          <div class="input-group-append">
            <button  [disabled]="true" class="btn btn-outline-primary bi bi-calendar-event" (click)="d.toggle()" type="button"> </button>
          </div>
      </div>
    </div>
<br>
<br>

    <div class="col-sm-6">
      <div class="input-group">
      <span class="input-group-text " style="font-weight: 400; background-color:white " >Client:</span>
      <input   [disabled]="disabled||clientDisabled" id=client class="form-control " placeholder="Client" [(ngModel)]="client" ngModel name="client"   >
    </div>
   </div>

  </div>
<div class="row mt-3">

  <div class="col-sm-6">
    <div class="input-group ">
    <span class="input-group-text " style="font-weight: 400; background-color:white " >Order Number:</span>
    <input  [disabled]="disabled||orderNumberDisabled" id=order-no class="form-control " placeholder="ORDER No" [(ngModel)]="order_Number"  ngModel name="order_no"   >
  </div>
 </div>
 <br>
 <br>
 <div class="col-sm-6">
    <div class="form-group">
      <div class="input-group ">
        <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Company:</span>
        <select  [disabled]="disabled||companyDisabled" class="form-select" id="exampleSelect" [(ngModel)]="company" ngModel name="company">
          <option class="form-control" >Mac-Automation </option>
          <option class="form-control" >All-Electrical </option>
          <option class="form-control">STS</option>
        </select>
      </div>
</div>
</div>
</div>

<div class="form-group  mt-3 mb-4">
<div class="input-group ">
<span class="input-group-text " style="font-weight: 400; background-color:white ;" >Description:</span>
<textarea  [disabled]="disabled||descriptionDisabled" id=description class="form-control " placeholder="Description" [(ngModel)]="description" ngModel name="description"  rows="1"></textarea>
</div>
</div>
<!-- ///////////////////////////////////////Owner////////////////////////////////////////// -->


<hr>
<div class="row mt-3">
  <div class="col-sm-6">
    <div class="input-group  ">
    <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Panel Number:</span>
      <input  [disabled]="disabled||panelNumberDisabled" id=panel-no class="form-control " placeholder="Panel Number" [(ngModel)]="panel_Number" ngModel name="panel_Number"   >

    </div>
  </div>
<br>
<br>
  <div class="col-sm-6">
</div>
</div>


<div class="row mt-3">
  <div class="col-sm-6">
    <div class="input-group ">
      <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Drawings By:</span>
      <select  [disabled]="disabled||drawingsByDisabled" class="form-select" id="exampleSelect" [(ngModel)]="drawings_By" ngModel name="drawings_By">
        <option class="form-control" >LT</option>
      </select>
    </div>
  </div>
  <br>
  <br>
  <div class="col-sm-6">    <div class="input-group border-none">
    <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Programmed By</span>
    <select  [disabled]="disabled||programmedByDisabled" class="form-select" id="exampleSelect"  [(ngModel)]="programmed_By" ngModel name="programmed_By">
      <option class="form-control" >Daniel</option>
      <option class="form-control" >Gerard</option>
    </select>
  </div>
</div>
</div>

<div class="row mt-3">
  <div class="col-sm-6">
    <div class="input-group border border-white" >
      <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Panel-Builder/s</span>
      <div  id=pb class="form-control " placeholder=""    >
        <button   type="button" mat-flat-button class="text-end" style=" font-size:15px; height:15px;width:100%; background-color:rgb(255, 255, 255); border-color:rgb(255, 255, 255); color:rgb(60, 60, 60)" (click)="open(panelBuilders)"><mat-icon style="font-size:20px;">arrow_drop_down</mat-icon></button>
      </div>
    </div>
    <ng-template #panelBuilders let-modal>

      <div class="modal-header">
        <h2 class="modal-title" id="modal-basic-title">Panel Builders</h2>
        <button   mat-icon-button   style="background-color:rgb(255, 255, 255)"(click)="modal.dismiss()" >
          <mat-icon style="color:rgb(0, 0, 0)">close</mat-icon>
        </button>
      </div>

      <form  #f="ngForm" (ngSubmit)="SelectPanelBuilders(f)">
      <div class="modal-body " >

          <div class="form-group">
            <div class="form-check text-start"  >
              <input  [disabled]="disabled||panelBuildersDisabled" type="checkbox" class="form-check-input me-3"  [(ngModel)]="pb1_CHECKED" ngModel name="pb1">Rueben
              <label class="form-check-label "></label>
            </div>
            <div class="form-check text-start">
              <input  [disabled]="disabled||panelBuildersDisabled" type="checkbox" class="form-check-input me-3"  [(ngModel)]="pb2_CHECKED" ngModel name="pb2">Jaryd
              <label class="form-check-label ps-4"></label>
            </div>
            <div class="form-check text-start">
              <input  [disabled]="disabled||panelBuildersDisabled" type="checkbox" class="form-check-input me-3"  [(ngModel)]="pb3_CHECKED" ngModel name="pb3">Martin
              <label class="form-check-label ps-4"></label>
            </div>
            <div class="form-check text-start">
              <input  [disabled]="disabled||panelBuildersDisabled" type="checkbox" class="form-check-input me-3"  [(ngModel)]="pb4_CHECKED" ngModel name="pb4">Jusain
              <label class="form-check-label ps-4"></label>
            </div>
            <br>
            <button   [disabled]="disabled||panelBuildersDisabled" (click)="modal.dismiss()" class="modal-button btn btn-primary d-flex justify-content-center   " type="submit">Add Panel Builders</button>
            </div>
      </div>
    </form>

    </ng-template>
</div>
<br>
<br>
<div class="col-sm-6">
      <div class="input-group mt-1">
        <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Tested By:</span>
        <select  [disabled]="disabled||testedByDisabled" class="form-select" id="exampleSelect" [(ngModel)]="tested_By" ngModel name="tested_By">
          <option class="form-control" >Daniel</option>
          <option class="form-control" >Gerard</option>
        </select>
      </div>
  </div>

</div>

<!-- Installation -->
  <!-- <div class="row mt-3">
    <div class="col">
      <div class="input-group ">
        <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Installation:</span>
        <div class="form-control">
          <mat-checkbox [color]='color' [(ngModel)]="itemsDeliveredChecked" (change)="onItemsDelivered($event)" style="padding-left:5px" >Installed</mat-checkbox>
        </div>
      </div>
  </div>
    <div class="col">
  
    </div>
  
  </div> -->
<!-- // -->


<div class="mt-4">
  <button  [disabled]="disabled" class="btn btn-primary btn-md btn-block "  type="submit" style="width:250px">Save</button>
</div>

<hr>





<div class="row mt-3">
  <div class="col-sm-3">
      <span class="input-group-text text-center" [ngStyle]="{'background-color': workers_assigned_phase_BG_color, 'color': workers_assigned_phase_Text_color}" >Workers Assigned</span>
  </div>
  <div class="col-sm-3">
      <span class="input-group-text text-center" [ngStyle]="{'background-color': drawings_phase_BG_color, 'color': drawings_assigned_phase_Text_color}" >Drawings</span>
  </div>
  <div class="col-sm-3">

    <span class="input-group-text " style="font-weight: 400; background-color:rgb(211, 211, 211) "[ngStyle]="{'background-color': panel_phase_BG_color, 'color': panel_phase_Text_color}" >Panel Status</span>


  </div>
  <div class="col-sm-3">
    <span class="input-group-text " style="font-weight: 400; background-color:rgb(211, 211, 211);"[ngStyle]="{'background-color': programmed_phase_BG_color, 'color': programmed_phase_Text_color}" >Programing</span>
  </div>

</div>

<div class="row mt-3">
  <div class="col-sm-3">
      <span class="input-group-text " style="font-weight: 400; background-color:white ;"  [ngStyle]="{'background-color': tested_phase_BG_color, 'color': tested_phase_Text_color}">Testing</span>
  </div>

  <div class="col-sm-3">
  <span class="input-group-text " style="font-weight: 400; background-color:white ;"  [ngStyle]="{'background-color': purchase_order_phase_BG_color, 'color': purchase_order_phase_Text_color}">Parts Ordered</span>
</div>

<div class="col-sm-3">
  <span class="input-group-text " style="font-weight: 400; background-color:white ;"  [ngStyle]="{'background-color': itemsDelivered_phase_BG_color, 'color': itemsDeivered_phase_Text_color}">Parts Arrived</span>
</div>

<div class="col-sm-3">
  <span class="input-group-text " style="font-weight: 400; background-color:white ;" [ngStyle]="{'background-color': installation_phase_BG_color, 'color': installation_phase_Text_color}">Installation</span>
</div>

</div>
<div class="row mt-3">
  <div class="col-sm-3">
    <span class="input-group-text " style="font-weight: 400; background-color:white ;" [ngStyle]="{'background-color': invoiceing_complete_phase_BG_color, 'color': invoiceing_complete_phase_Text_color}">Invoicing</span>
  </div>

  <div class="col-sm-3">
    <span class="input-group-text " style="font-weight: 400; background-color:white ;"  [ngStyle]="{'background-color': status_phase_BG_color, 'color': status_phase_Text_color}">Job Card</span>
  </div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
</div>




<hr>
</form>

<!-- ///////////////////////////////////////Purchase Order////////////////////////////////////////// -->
<h2>Installation</h2>
<mat-checkbox  [disabled]="disabled" [color]='color' [(ngModel)]="installationChecked" (change)="onPanelInstalled($event)" style="padding-left:5px" >Panel Installed</mat-checkbox>

<hr>
<!-- ///////////////////////////////////////Purchase Order////////////////////////////////////////// -->
<h2>Purchase Orders</h2>

<button  [disabled]="disabled" class="btn btn-lg btn-outline-primary" (click)="open(purchaseOrder)">Add Purchase Order</button>
<button  [disabled]="disabled" class="btn btn-lg btn-outline-success ms-2" (click)="onCompletePurchaseOrders()">Complete Purchase Orders</button>
<mat-checkbox  [disabled]="disabled" [color]='color' [(ngModel)]="itemsDeliveredChecked" (change)="onItemsDelivered($event)" style="padding-left:5px" >Items Delivered</mat-checkbox>



<ng-template #purchaseOrder let-modal>

  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Puchase Order</h2>
    <button  mat-icon-button   style="background-color:rgb(255, 255, 255)"(click)="modal.dismiss()" >
      <mat-icon style="color:rgb(0, 0, 0)">close</mat-icon>
    </button>
  </div>
  <form  #f="ngForm" (ngSubmit)="onAddPurchaseOrder(f)">
  <div class="modal-body">

      <div class="form-group">
        <input  id=supplier class="form-control  mt-1" placeholder="Supplier"  ngModel name="supplier">
        <input  id=mat-order-no class="form-control  mt-3 mb-3" placeholder="Order Number"  ngModel name="mat_order_no">
        <button  class="modal-button btn btn-primary d-flex justify-content-center " style="width:150px" type="submit">Add</button>
        </div>
  </div>
</form>

</ng-template>
<table class="table table-striped mt-4">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Supplier</th>
    <th scope="col">Order Number</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let purchase_order of PURCHASE_ORDERS; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ purchase_order.supplier }}</td>
    <td>{{ purchase_order.order_Number }}</td>
  </tr>
  </tbody>
</table>
<hr>





<!-- ///////////////////////////////////////////////add Parts From Storage-->
<h2>Materials From Storage</h2>
<button   [disabled]="disabled" class="btn btn-lg btn-outline-primary" (click)="open(content)">Add Material From Store</button>
<table class="table table-striped mt-4">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Part Name</th>
    <th scope="col">Part Number</th>
    <th scope="col">Quantity</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let jobcard_parts of JOBCARD_PARTS; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ jobcard_parts.part_Name }}</td>
    <td>{{ jobcard_parts.part_Number }}</td>
    <td>{{ jobcard_parts.part_Qty }}</td>
  </tr>
  </tbody>
</table>

<ng-template #content let-modal>

  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Materials From Store</h2>
    <button  [disabled]="disabled"  mat-icon-button style="background-color:rgb(255, 255, 255)"(click)="modal.dismiss()" >
      <mat-icon style="color:rgb(0, 0, 0)">close</mat-icon>
    </button>
  </div>
  <mat-tab-group>


    <mat-tab label="Manually Add Part">
      <form  #f="ngForm" (ngSubmit)="onAddManualPart(f)">
        <div class="modal-body">
            <div class="form-group">
              <input  id=manual_part_name_add class="form-control  mt-1" placeholder="Part Name"  ngModel name="manual_part_name_add">
              <input  id=manual_part_num_add class="form-control  mt-3 mb-3" placeholder="Part Number"  ngModel name="manual_part_num_add">
              <input type="number" min="1" id=qty class="form-control  mt-1"  placeholder="Qty"  ngModel name="manual_part_qty_add">
              <input  id=manual_part_descr_add class="form-control  mt-3 mb-3" placeholder="Description"  ngModel name="manual_part_descr_add">
              <button  class="modal-button btn btn-primary d-flex justify-content-center "style="width:150px" type="submit">Manual Add</button>
              </div>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</ng-template>
<hr>






<!-- ///////////////////////////////////////////////add Invoice ////////////////////////////////// -->
<h2>Invoices</h2>
<button  [disabled]="disabled" class="btn btn-lg btn-outline-primary" (click)="open(invoice)">Add Invoice</button>
<button  [disabled]="disabled"class="btn btn-lg btn-outline-success ms-2" (click)="onCompleteInvoicing()">Complete Invoices</button>

<table class="table table-striped mt-4">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Invoice Number</th>
    <th scope="col">Client </th>
    <th scope="col">Invoice Date</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let invoice of INVOICES; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ invoice.invoice_Number }}</td>
    <td>{{ invoice.client_Name }}</td>
    <td>{{ invoice.date }}</td>
  </tr>
  </tbody>
</table>

<ng-template #invoice let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Add Invoice</h2>
    <button  mat-icon-button style="background-color:rgb(255, 255, 255)"(click)="modal.dismiss()" >
      <mat-icon style="color:rgb(0, 0, 0)">close</mat-icon>
    </button>
  </div>

  <form  #f="ngForm" (ngSubmit)="onAddInvoice(f)">
  <div class="modal-body">
    <div class="form-group">
    <input  id=invoice_Number class="form-control  mt-1" placeholder="Invoice Number"  ngModel name="invoice_Number">
    <div class="input-group mt-2">
      <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Client:</span>
      <select class="form-select" id="invoice_Client"  ngModel name="invoice_Client">
        <option value="Owner" selected  hidden>Owner</option>
        <option class="form-control" >Warwick </option>
        <option class="form-control">Daniel</option>
      </select>
    </div>
    <input type="date" min="1" id=qty class="form-control  mt-2"  placeholder="date"  ngModel name="date">

    <button  class="modal-button btn btn-primary mt-3  d-flex justify-content-center" style="width:150px" type="submit">Add</button>
  </div>
  </div>

</form>
</ng-template>




</div>
  </div>


