mat-toolbar{
  position: -webkit-fixed;
  position: fixed !important;
  background-color: rgb(255, 255, 255);;
  width: 100%;
  z-index: 101;
}
.toolbar-button:hover{
    color: rgb(245, 59, 59);
   background-color: transparent ;
  }
  .spacer {
    flex: 1 1 auto;
  }

.wrapper-grid{

  display: grid;
  grid-template-columns: repeat(auto-fit,360px);
  justify-content: center;

}

.pdfButton{
  height: 20px;
  width: 80px;
  background-color: white;
  border: 0;
  font-size: small;
  margin-bottom:11px;
}

.pdfButton:hover{
  color: rgb(245, 59, 59);
 background-color: transparent ;
}