<div style="background-color: rgb(245, 248, 250);">
<p></p>
<br>

<br><br>

<mat-toolbar class="shadow-sm" style="  border-top: 1px solid rgb(221, 229, 235); height: 2rem; top: 62px">
    <button onclick="history.back()" class="toolbar-button" mat-icon-button>
      <mat-icon >keyboard_backspace</mat-icon>
    </button>
</mat-toolbar>
<br>
<div class="d-flex justify-content-center  text-center pt-5" >

  <div class="pt-3 shadow-sm p-3 mb-5 bg-body rounded "  style="width: 1050px;  " >

  <h1>Job Card</h1>
  <hr class="shadow-lg">

<!-- ///////////////////////////////////////User////////////////////////////////////////// -->
<form  #f="ngForm">
  <div class="row ">
<div class="col "  >
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Owner:</span>
      <select disabled class="form-select" id="exampleSelect" [(ngModel)]="owner" ngModel name="owner">
        <option value="Owner" selected  hidden>Owner</option>
        <option class="form-control" >Warwick </option>
        <option class="form-control">Daniel</option>
      </select>
    </div>

</div>

</div>


    <div class="col ">
  <div class="mb-5 rounded flex-wrap"  >
    <div class="row">
      <div class="input-group">
        <span class="input-group-text " style="font-weight: 400; background-color:white ;color:red" >Job Number:</span>
        <input disabled type="text" aria-label="First name" class="form-control"  [(ngModel)]="job_Number" ngModel name="job_number">
      </div>
    </div>



  </div>
    </div>
  </div>

  <div class="row">
    <div class="col">

        <div class="input-group ">
          <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Start Date:</span>
          <input disabled class="form-control" placeholder="Select Start Date" [(ngModel)]="JC_StartDate"
                 name="dp"  ngbDatepicker #d="ngbDatepicker" ngModel name="start_Date">
      </div>
    </div>

    <div class="col">
      <div class="input-group">
      <span class="input-group-text " style="font-weight: 400; background-color:white " >Client:</span>
      <input disabled id=client class="form-control " placeholder="Client" [(ngModel)]="client" ngModel name="client"   >
    </div>
   </div>

  </div>
<div class="row mt-3">

  <div class="col">
    <div class="input-group ">
    <span class="input-group-text " style="font-weight: 400; background-color:white " >Order Number:</span>
    <input disabled id=order-no class="form-control " placeholder="ORDER No" [(ngModel)]="order_Number"  ngModel name="order_no"   >
  </div>
 </div>
  <div class="col">
    <div class="form-group">
      <div class="input-group ">
        <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Company:</span>
        <select disabled class="form-select" id="exampleSelect" [(ngModel)]="company" ngModel name="company">
          <option class="form-control" >Mac-Automation </option>
          <option class="form-control" >All-Electrical </option>
          <option class="form-control">STS</option>
        </select>
      </div>
</div>
</div>
</div>

<div class="form-group  mt-3 mb-4">
<div class="input-group ">
<span class="input-group-text " style="font-weight: 400; background-color:white ;" >Description:</span>
<textarea disabled id=description class="form-control " placeholder="Description" [(ngModel)]="description" ngModel name="description"  rows="1"></textarea>
</div>
</div>
<!-- ///////////////////////////////////////Owner////////////////////////////////////////// -->


<hr>
<div class="row mt-3">
  <div class="col">
    <div class="input-group  ">
    <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Panel Number:</span>
      <input disabled id=panel-no class="form-control " placeholder="Panel Number" [(ngModel)]="panel_Number" ngModel name="panel_Number"   >

    </div>
  </div>

  <div class="col">
</div>
</div>


<div class="row mt-3">
  <div class="col">
    <div class="input-group ">
      <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Drawings By:</span>
      <select disabled class="form-select" id="exampleSelect" [(ngModel)]="drawings_By" ngModel name="drawings_By">
        <option class="form-control" >LT</option>
      </select>
    </div>
  </div>
  <div class="col">    <div class="input-group border-none">
    <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Programmed By</span>
    <select disabled class="form-select" id="exampleSelect"  [(ngModel)]="programmed_By" ngModel name="programmed_By">
      <option class="form-control" >Daniel</option>
      <option class="form-control" >Gerard</option>
    </select>
  </div>
</div>
</div>

<div class="row mt-3">
  <div class="col">
    <div class="input-group border border-white" >
      <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Panel-Builder/s</span>
      <div  id=pb class="form-control " placeholder=""    >
        <button type="button" mat-flat-button class="text-end" style=" font-size:15px; height:15px;width:100%; background-color:rgb(255, 255, 255); border-color:rgb(255, 255, 255); color:rgb(60, 60, 60)" (click)="open(panelBuilders)"><mat-icon style="font-size:20px;">arrow_drop_down</mat-icon></button>
      </div>
    </div>
    <ng-template #panelBuilders let-modal>

      <div class="modal-header">
        <h2 class="modal-title" id="modal-basic-title">Panel Builders</h2>
        <button  mat-icon-button   style="background-color:rgb(255, 255, 255)"(click)="modal.dismiss()" >
          <mat-icon style="color:rgb(0, 0, 0)">close</mat-icon>
        </button>
      </div>

      <form  #f="ngForm" >
      <div class="modal-body " >

          <div class="form-group">
            <div class="form-check text-start"  >
              <input disabled type="checkbox" class="form-check-input me-3"  [(ngModel)]="pb1_CHECKED" ngModel name="pb1">Rueben
              <label class="form-check-label "></label>
            </div>
            <div class="form-check text-start">
              <input disabled type="checkbox" class="form-check-input me-3"  [(ngModel)]="pb2_CHECKED" ngModel name="pb2">Jaryd
              <label class="form-check-label ps-4"></label>
            </div>
            <div class="form-check text-start">
              <input disabled type="checkbox" class="form-check-input me-3"  [(ngModel)]="pb3_CHECKED" ngModel name="pb3">Martin
              <label class="form-check-label ps-4"></label>
            </div>
            <div class="form-check text-start">
              <input disabled type="checkbox" class="form-check-input me-3"  [(ngModel)]="pb4_CHECKED" ngModel name="pb4">Jusain
              <label class="form-check-label ps-4"></label>
            </div>
            <br>
            </div>
      </div>
    </form>

    </ng-template>
</div>
    <div class="col">
      <div class="input-group mt-1">
        <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Tested By:</span>
        <select disabled class="form-select" id="exampleSelect" [(ngModel)]="tested_By" ngModel name="tested_By">
          <option class="form-control" >Daniel</option>
          <option class="form-control" >Gerard</option>
        </select>
      </div>
  </div>

</div>

<hr>
</form>

<!-- ///////////////////////////////////////Purchase Order////////////////////////////////////////// -->
<h2>Installation</h2>
<mat-checkbox [disabled]="true" [color]='color' [(ngModel)]="installationChecked"  style="padding-left:5px" >Panel Installed</mat-checkbox>

<hr>
<!-- ///////////////////////////////////////Purchase Order////////////////////////////////////////// -->
<h2>Purchase Orders</h2>


<mat-checkbox [disabled]="true" [color]='color' [(ngModel)]="itemsDeliveredChecked"  style="padding-left:5px" >Items Delivered</mat-checkbox>



<ng-template #purchaseOrder let-modal>

  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Puchase Order</h2>
    <button  mat-icon-button   style="background-color:rgb(255, 255, 255)"(click)="modal.dismiss()" >
      <mat-icon style="color:rgb(0, 0, 0)">close</mat-icon>
    </button>
  </div>
  <form  #f="ngForm" >
  <div class="modal-body">

      <div class="form-group">
        <input  id=supplier class="form-control  mt-1" placeholder="Supplier"  ngModel name="supplier">
        <input  id=mat-order-no class="form-control  mt-3 mb-3" placeholder="Order Number"  ngModel name="mat_order_no">
        <button  class="modal-button btn btn-primary d-flex justify-content-center " style="width:150px" type="submit">Add</button>
        </div>
  </div>
</form>

</ng-template>
<table class="table table-striped mt-4">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Supplier</th>
    <th scope="col">Order Number</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let purchase_order of PURCHASE_ORDERS; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ purchase_order.supplier }}</td>
    <td>{{ purchase_order.order_Number }}</td>
  </tr>
  </tbody>
</table>
<hr>





<!-- ///////////////////////////////////////////////add Parts From Storage-->
<h2>Materials From Storage</h2>
<table class="table table-striped mt-4">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Part Name</th>
    <th scope="col">Part Number</th>
    <th scope="col">Quantity</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let jobcard_parts of JOBCARD_PARTS; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ jobcard_parts.part_Name }}</td>
    <td>{{ jobcard_parts.part_Number }}</td>
    <td>{{ jobcard_parts.part_Qty }}</td>
  </tr>
  </tbody>
</table>

<ng-template #content let-modal>

  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Materials From Store</h2>
    <button  mat-icon-button style="background-color:rgb(255, 255, 255)"(click)="modal.dismiss()" >
      <mat-icon style="color:rgb(0, 0, 0)">close</mat-icon>
    </button>
  </div>
  <mat-tab-group>


    <mat-tab label="Manually Add Part">
      <form  #f="ngForm" >
        <div class="modal-body">
            <div class="form-group">
              <input  id=manual_part_name_add class="form-control  mt-1" placeholder="Part Name"  ngModel name="manual_part_name_add">
              <input  id=manual_part_num_add class="form-control  mt-3 mb-3" placeholder="Part Number"  ngModel name="manual_part_num_add">
              <input type="number" min="1" id=qty class="form-control  mt-1"  placeholder="Qty"  ngModel name="manual_part_qty_add">
              <input  id=manual_part_descr_add class="form-control  mt-3 mb-3" placeholder="Description"  ngModel name="manual_part_descr_add">
              <button  class="modal-button btn btn-primary d-flex justify-content-center "style="width:150px" type="submit">Manual Add</button>
              </div>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</ng-template>
<hr>






<!-- ///////////////////////////////////////////////add Invoice ////////////////////////////////// -->
<h2>Invoices</h2>


<table class="table table-striped mt-4">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Invoice Number</th>
    <th scope="col">Client </th>
    <th scope="col">Invoice Date</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let invoice of INVOICES; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ invoice.invoice_Number }}</td>
    <td>{{ invoice.client_Name }}</td>
    <td>{{ invoice.date }}</td>
  </tr>
  </tbody>
</table>

<ng-template #invoice let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Add Invoice</h2>
    <button  mat-icon-button style="background-color:rgb(255, 255, 255)"(click)="modal.dismiss()" >
      <mat-icon style="color:rgb(0, 0, 0)">close</mat-icon>
    </button>
  </div>

  <form  #f="ngForm" >
  <div class="modal-body">
    <div class="form-group">
    <input  id=invoice_Number class="form-control  mt-1" placeholder="Invoice Number"  ngModel name="invoice_Number">
    <div class="input-group mt-2">
      <span class="input-group-text " style="font-weight: 400; background-color:white ;" >Client:</span>
      <select class="form-select" id="invoice_Client"  ngModel name="invoice_Client">
        <option value="Owner" selected  hidden>Owner</option>
        <option class="form-control" >Warwick </option>
        <option class="form-control">Daniel</option>
      </select>
    </div>
    <input type="date" min="1" id=qty class="form-control  mt-2"  placeholder="date"  ngModel name="date">

    <button  class="modal-button btn btn-primary mt-3  d-flex justify-content-center" style="width:150px" type="submit">Add</button>
  </div>
  </div>

</form>
</ng-template>




</div>
  </div>



</div>