/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-select.span.mat-form-field-label-wrapper label {
  color:orange !important;
}

mat-select.mat-focused span.mat-form-field-label-wrapper label {
  color:green !important;
}
