
<br>
<br>
<br>
<br>

<div class="row ms-4">
  <div class="col">

<div class="pt-3 shadow-sm p-3 mb-5 bg-body rounded"  style="width: 350px;  "  >
  <h1>Better Day</h1>
  <h1>Stats 1</h1>
  <div class="mt-4">
  </div>
</div>
  </div>

  <div class="col">
    <div class="pt-3 shadow-sm p-3 mb-5 bg-body rounded "  style="width: 350px;  "  >
      <h1>Better Day</h1>
      <h1>Stats 2</h1>
      <div class="mt-4">
      </div>
    </div>
  </div>
  <div class="col">
    <div class="pt-3 shadow-sm p-3 mb-5 bg-body rounded "  style="width: 350px;  "  >
      <h1>Better Day</h1>
      <h1>Stats 3 </h1>
      <div class="mt-4">
      </div>
    </div>
  </div>
</div>

