
/* .wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit,100%);
justify-content: flex-end;
} */

.my-hr-line {
  position: relative;
  left: -15px;
  width: calc(100% + 30px);

}
div
{
    color: rgb(79, 79, 79);
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}


span { display: flex; 
  justify-content: center }



  .table-responsive {
    display: block;
    width: 100%;
    overflow: auto;

  }
  /* .mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
}
.mat-row,
.mat-header-row {
    display: table-row;
}
.mat-cell,
.mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
} */