<div style="background-color: rgb(245, 248, 250);">
<br>
<br>
<br>
<br>


<!-- Owner Critical Items -->
<div *ngIf="ownerDashboard==true" class="row ms-3 me-3" >
  <mat-accordion >
  <mat-expansion-panel expanded='true'>
  <mat-expansion-panel-header>
  <mat-panel-title>
    <h2 class="ps-2 pt-3">Critical Items:</h2>
      <br>
  </mat-panel-title>
  
  </mat-expansion-panel-header>
  
  
    
  <div style="max-height:245px"class="table-responsive">
    <table  class="table align-middle  table-hover">
      <thead class="table-dark">
        <tr>
          <th class="col-sm-2">Job Number</th>
          <th class="col-sm-6">Description</th>
          <th class="col-sm-2">Task</th>
          <th class="col-sm-2">Status</th>
        </tr>
      </thead>
      <tbody *ngFor="let d of ow_CI_JobNumber_Arr; index as i"
      style="border-color : rgb(223, 223, 223) ;
      border-style : solid ;
      border-width : 0">
    
          <tr *ngIf="ownerStatus_Arr[i]=='Problem'" >
                    <td style ="color: rgb(255, 0, 0);  font-weight: 600;" >{{d}}</td>
                   <td style ="color: black ; " >{{ow_CI_Descr_Arr[i]}}</td>
                    <td style ="color: black ; " >{{ow_CI_Task_Arr[i]}}</td> 
              <td>
                  <select [ngModel]="ow_CI_phaseStatus_Arr[i]" (change)="onCriticalItemsStatusSelect($event,d,content,ow_CI_Task_Arr[i])"class="form-select " style="font-weight: 400; background-color:#d9534f; color:white; ">
                    <option class="form-control"  value="In Progress" >In Progress</option>
                    <option class="form-control" value="Problem" >Problem</option>
                  </select>
                </td>
    
          </tr>
        </tbody>
    </table>
  </div>  
  
  </mat-expansion-panel>
  </mat-accordion>
  
  </div>
  <br>
  <br>

<!-- Owner Active Job Cards Tasks -->
<div  *ngIf="ownerDashboard==true" class="row ms-3 me-3" >
  <mat-accordion >
  <mat-expansion-panel expanded='true'>
  <mat-expansion-panel-header>
  <mat-panel-title>
    <h2 class="ps-2 pt-3">Active Job Cards:</h2>
      <br>
  </mat-panel-title>
  
  </mat-expansion-panel-header>
  
  
    
  <div style="max-height:245px"class="table-responsive">
    <table  class="table align-middle  table-hover">
      <thead class="table-dark">
        <tr>
          <th class="col-sm-2">Job Number</th>
          <th class="col-sm-6">Description</th>
          <th class="col-sm-2">Status</th>
        </tr>
      </thead>
    
      <tbody *ngFor="let d of ownerDescr_Arr; index as i"
      
      style="border-color : rgb(223, 223, 223) ;
      border-style : solid ;
      border-width : 0">
  
          <tr  *ngIf="ownerStatus_Arr[i]!='Completed'">
                    <td style ="color: rgb(255, 0, 0);  font-weight: 600;" >{{ownerJobNumber_Arr[i]}}</td>
                   <td style ="color: black ; " >{{ownerDescr_Arr[i]}}</td>
                    <td>
                      <span class="input-group-text" style="font-weight: 400;" [ngStyle]="{'background-color': ownerStatus_BC_Arr[i], 'color': ownerStatus_TC_Arr[i]}" >{{ownerStatus_Arr[i]}}</span>
                  </td>
    
          </tr>
        </tbody>
  
      
    </table>
  </div>  
  
  </mat-expansion-panel>
  </mat-accordion>
  
  </div>
  <br>
  <br>
<br>

<!-- Your Tasks -->
<div class="row ms-3 me-3" >


<mat-accordion >
  <mat-expansion-panel 
  expanded='true'
 >
<mat-expansion-panel-header>
<mat-panel-title>
  <h2 class="ps-2 pt-3">Your Tasks:</h2>
</mat-panel-title>
</mat-expansion-panel-header>


<!-- <input type="text" placeholder="Filter Table:" style="margin-bottom: 8px; width: 350px;" [(ngModel)]="filterValue" class="form-control"> -->
<div class="text-end">
  <!-- <button  style="width: 100px;" mat-button class="pdfButton" ><mat-icon  mat-list-icon style="margin-right: 10%;">person_add</mat-icon>Create New User</button> -->

  <button routerLink="/tasks/your-tasks" style=" padding-bottom: 20px;" class="pdfButton "   xPosition="after"> Fullscreen 
    <i style="margin-left: 6px;" class="bi bi-arrows-fullscreen toolbar-button"></i>

 

  </button>
</div>

<div style="max-height:245px"class="table-responsive">
<table class="table align-middle">
  <thead class="table-dark">
    <tr>
      <th class="col-sm-2">Job Number</th>
      <th class="col-sm-6">Description</th>
      <th class="col-sm-2">Task</th>
      <th class="col-sm-2">Status</th>
    </tr>
  </thead>

  <tbody *ngFor="let d of drawings_JobNumber_arr; index as i"
  style="border-color : rgb(223, 223, 223) ;
  border-style : solid ;
  border-width : 0">

      <tr *ngIf="drawings_phase_status_arr[i]!='Completed'" >
                <td style ="color: rgb(255, 0, 0);  font-weight: 600;" >{{d}}</td>
               <td style ="color: black ; " >{{drawings_Descr_arr[i]}}</td>
                <td style ="color: black ; " >Drawing</td> 
          <td>
              <select [ngModel]="drawings_phase_status_arr[i]" (change)="onDrawingTaskStatusSelect($event,d,content,i)" style="min-width:100px;"  class="form-select " id="exampleSelect"  [ngStyle]="{'background-color': drawings_task_BC_arr[i], 'color': drawings_task_TC_arr[i]}">
                <option class="form-control"  value="Acknowledge" >Acknowledge</option>
                <option class="form-control"  value="In Progress" >In Progress</option>
                <option class="form-control" value="Completed" >Completed</option>
                <option class="form-control" value="Problem" >Problem</option>
              </select>
            </td>

      </tr>
    </tbody>
    <tbody *ngFor="let d of programmed_By_JobNumber_arr; index as i"

    style="border-color : rgb(223, 223, 223) ;
    border-style : solid ;
    border-width : 0">

      <tr *ngIf="programming_phase_status_arr[i]!='Completed'" >
        <td style ="color: rgb(255, 0, 0);  font-weight: 600;" >{{d}}</td>
       <td style ="color: black ; " >{{programmed_By_Descr_arr[i]}}</td>
        <td style ="color: black ; " >Programing</td> 
  <td>
      <select [disabled]="programmedBy_task_disabled_Arr[i]" [ngModel]="programming_phase_status_arr[i]" (change)="onProgrammedByTaskStatusSelect($event,d,content,i)" style=" min-width:100px;"  class="form-select " id="exampleSelect"  [ngStyle]="{'background-color': programmedBy_task_BC_arr[i], 'color': programmedBy_task_TC_arr[i]}">
        <option class="form-control"  value="Acknowledge" >Acknowledge</option>
        <option class="form-control"  value="In Progress" >In Progress</option>
        <option class="form-control" value="Completed" >Completed</option>
        <option class="form-control" value="Problem" >Problem</option>
      </select>
    </td>

</tr>
    </tbody>
    <tbody *ngFor="let d of tested_By_JobNumber_arr; index as i"
    
    style="border-color : rgb(223, 223, 223) ;
    border-style : solid ;
    border-width : 0">

<tr  *ngIf="testedBy_phase_status_arr[i]!='Completed'" >
  <td style ="color: rgb(255, 0, 0);  font-weight: 600;" >{{d}}</td>
 <td style ="color: black ; " >{{tested_By_Descr_arr[i]}}</td>
  <td style ="color: black ; " >Testing</td> 
<td>
<select [ngModel]="testedBy_phase_status_arr[i]" (change)="onTestedByTaskStatusSelect($event,d,content,i)" style=" min-width:100px;"  class="form-select " id="exampleSelect"  [ngStyle]="{'background-color': testedBy_task_BC_arr[i], 'color': testedBy_task_TC_arr[i]}">
  <option class="form-control"  value="Acknowledge" >Acknowledge</option>
  <option class="form-control"  value="In Progress" >In Progress</option>
  <option class="form-control" value="Completed" >Completed</option>
  <option class="form-control" value="Problem" >Problem</option>
</select>
</td>

</tr>
    </tbody>
    <tbody  *ngFor="let d of panel_Builders_JobNumber_arr; index as i"
    style="border-color : rgb(223, 223, 223) ;
    border-style : solid ;
    border-width : 0">

<tr *ngIf="panelBuild_phase_status_arr[i]!='Completed'">
  <td style ="color: rgb(255, 0, 0);  font-weight: 600;" >{{d}}</td>
 <td style ="color: black ; " >{{panel_Builders_Descr_arr[i]}}</td>
  <td style ="color: black ; " >Panel Build</td> 
<td>
<select [ngModel]="panelBuild_phase_status_arr[i]" (change)="onPanelBuildTaskStatusSelect($event,d,content,i)" style=" min-width:100px;"  class="form-select " id="exampleSelect"  [ngStyle]="{'background-color': panelBuild_task_BC_arr[i], 'color': panelBuild_task_TC_arr[i]}">
  <option class="form-control"  value="Acknowledge" >Acknowledge</option>
  <option class="form-control"  value="In Progress" >In Progress</option>
  <option class="form-control" value="Completed" >Completed</option>
  <option class="form-control" value="Problem" >Problem</option>
</select>
</td>

</tr>
  </tbody>
</table>
</div>
</mat-expansion-panel>
</mat-accordion>





</div>
<br>
<br>



<!-- Completed Tasks -->
<div class="row ms-3 me-3" >
<mat-accordion >
<mat-expansion-panel expanded='true'>
<mat-expansion-panel-header>
<mat-panel-title>
  <h2 class="ps-2 pt-3">Completed Tasks:</h2>
    <br>
</mat-panel-title>

</mat-expansion-panel-header>


  
<div style="max-height:245px"class="table-responsive">
  <table  class="table align-middle  table-hover">
    <thead class="table-dark">
      <tr>
        <th class="col-sm-2">Job Number</th>
        <th class="col-sm-6">Description</th>
        <th class="col-sm-2">Task</th>
        <th class="col-sm-2">Status</th>
      </tr>
    </thead>
  
    <tbody *ngFor="let d of drawings_JobNumber_arr; index as i"
    
    style="border-color : rgb(223, 223, 223) ;
    border-style : solid ;
    border-width : 0">

        <tr *ngIf="drawings_phase_status_arr[i]=='Completed'" >
                  <td style ="color: rgb(255, 0, 0);  font-weight: 600;" >{{d}}</td>
                 <td style ="color: black ; " >{{drawings_Descr_arr[i]}}</td>
                  <td style ="color: black ; " >Drawing</td> 
                  <td>
                    <span class="input-group-text" style="font-weight: 400; background-color:rgb(92, 184, 92); color:white; " >Completed</span>
                </td>
  
        </tr>
      </tbody>

      <tbody  *ngFor="let d of programmed_By_JobNumber_arr; index as i"
      
      style="border-color : rgb(223, 223, 223) ;
            border-style : solid ;
            border-width : 0">
       
        <tr *ngIf="programming_phase_status_arr[i]=='Completed'" >
         
          <td style ="color: rgb(255, 0, 0);  font-weight: 600;" >{{d}}</td>
         <td style ="color: black ; " >{{programmed_By_Descr_arr[i]}}</td>
          <td style ="color: black ; " >Programing</td> 
    <td>
      <span class="input-group-text" style="font-weight: 400; background-color:rgb(92, 184, 92); color:white; " >Completed</span>
      </td>

  </tr>

      </tbody>
  
      <tbody *ngFor="let d of tested_By_JobNumber_arr; index as i"
      style="border-color : rgb(223, 223, 223) ;
      border-style : solid ;
      border-width : 0">
  <tr  *ngIf="testedBy_phase_status_arr[i]=='Completed'" >
    <td style ="color: rgb(255, 0, 0);  font-weight: 600;" >{{d}}</td>
   <td style ="color: black ; " >{{tested_By_Descr_arr[i]}}</td>
    <td style ="color: black ; " >Testing</td> 
    <td>
      <span class="input-group-text" style="font-weight: 400; background-color:rgb(92, 184, 92); color:white; " >Completed</span>
  </td>
  
  </tr>
      </tbody>
      <tbody  *ngFor="let d of panel_Builders_JobNumber_arr; index as i"
      
      style="border-color : rgb(223, 223, 223) ;
      border-style : solid ;
      border-width : 0">
 
  <tr *ngIf="panelBuild_phase_status_arr[i]=='Completed'">
    <td style ="color: rgb(255, 0, 0);  font-weight: 600;" >{{d}}</td>
   <td style ="color: black ; " >{{panel_Builders_Descr_arr[i]}}</td>
    <td style ="color: black ; " >Panel Build</td> 
    <td>
      <span class="input-group-text" style="font-weight: 400; background-color:rgb(92, 184, 92); color:white; " >Completed</span>
  </td>
  
  </tr>
    </tbody>
  </table>
</div>  

</mat-expansion-panel>
</mat-accordion>

</div>

<br>
<br>






</div>





<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Notify Superior</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <mat-progress-bar style="background-color: black" *ngIf="emailLoading==true" mode="indeterminate"></mat-progress-bar>

  <form   #f="ngForm" (ngSubmit)="onSendMail(f)">
  <div class="modal-body">

      <div class="mb-3">
<label style="padding-bottom: 4px;"> Owner: {{ownerForProblem}}</label>
        <br>
        <label style="padding-bottom: 4px;"> Description of Problem:  </label>
        <textarea id=description class="form-control " ngModel name="description"  ></textarea>
      </div>
 
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Send Mail</button>
  </div>
</form>

</ng-template>
