
/* .wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit,100%);
justify-content: flex-end;
} */

.my-hr-line {
  position: relative;
  left: -15px;
  width: calc(100% + 30px);

}
div
{
    color: rgb(79, 79, 79);
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}


span { display: flex; 
  justify-content: center }

